.header > * {
  color: white;
  /* line-height: 10px; */
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: black;
}

.link {
  color: black;
  /* line-height: 10px; */
  font-size: larger;
  text-decoration: none;
}

.links-button {
  box-shadow: none;
  background-color: black;
  /* border: 1px solid white; */
  border: 0;
  height: 4em;
  width: 4em;
  position: relative;
  cursor: pointer;
}
.menu-icon {
  color: white;
  cursor: pointer;
  width: auto;
  height: auto;
}
