.difficulty-row {
  display: flex;
  align-items: center;
  padding: 2em;
  gap: 5em;
  width: 100%;
}

.start-button {
  padding: 1em;
  border-radius: 16px;
  cursor: pointer;
  background-color: rgb(33, 33, 33);
  color: white;
}

.start-button:active {
  background-color: rgb(68, 68, 68);
}

.number-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.grid-cell {
  /* width: 5vw;
  min-width: 2rem;
  min-height: 2rem;
  height: 5vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  transition: background-color 0.5s;
  margin: auto;
  border-radius: 16px;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
}

.hidden {
  background-color: black;
  color: black;
  border: none;
}

.win-cell {
  background-color: rgb(174, 255, 174);
  border: none;
  transition: background-color 0.5s;
}
.wrong-cell {
  animation-name: flash-red;
  animation-duration: 0.3s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}

@keyframes flash-red {
  from {
    background-color: white;
  }
  to {
    background-color: red;
    border: none;
  }
}

@media (max-width: 750px) {
  .grid-cell {
    border-radius: 8px;
  }
}
