.slider-row {
  display: flex;
  align-items: center;
  padding: 2em;
  gap: 5em;
  width: 100%;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

@media (max-width: 750px) {
  .settings {
    width: 95%;
  }
  .slider-row {
    flex-direction: column;
    gap: 0em;
  }
}