.number-form {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  margin: 1em;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.difficulty-row {
  display: flex;
  align-items: center;
  padding: 2em;
  gap: 5em;
  width: 100%;
}

.grid-size-row {
  display: flex;
  align-items: center;
  padding: 2em;
  gap: 5em;
  width: 100%;
}

.start-button {
  padding: 1em;
  border-radius: 16px;
  cursor: pointer;
  background-color: rgb(33, 33, 33);
  color: white;
}

.start-button:active {
  background-color: rgb(68, 68, 68);
}

.number-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.grid-cell {
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
  transition: background-color 0.5s;
  margin: auto;
  border-radius: 16px;
  user-select: none;
  cursor: pointer;
}

.hidden {
  background-color: black;
  color: black;
}

.win-cell {
  background-color: green;
  transition: background-color 0.5s;
}
.wrong-cell {
  animation-name: flash-red;
  animation-duration: 0.3s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}

@keyframes flash-red {
  from {
    background-color: white;
  }
  to {
    background-color: red;
  }
}

.new-game-button {
  margin: 1em;
  padding: 1em;
  border-radius: 16px;
  cursor: pointer;
  background-color: rgb(33, 33, 33);
  color: white;
}
